@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebApp Products</h1>
    <p class="lead">Application linked to the database, registering products and prices, just click on the products tab just above.</p>
</div>

<div class="jumbotron">
    <h2>Page products</h2>
    <p>
        New registration, edits and view lists of registrations. All connected to the local database for storage.
    </p>
    <p><a href="https://localhost:44350/Product" class="btn btn-primary btn-lg">Products &raquo;</a></p>
  
</div>
